<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit a farm</title>
</head>
<body>
    <h1>edit a farm</h1>
    <form action="/farms/<%=foundFarm._id%>?_method=PUT" method="POST">
        <div>
        <input type="text" name="name" placeholder="farm name" value="<%=foundFarm.name%>">
        </div>
        <div>
        <input type="text" name="location" placeholder="location" value="<%=foundFarm.location%>">
        </div>
        <div>
        <input type="number" name="contact" placeholder="contact" value="<%=foundFarm.contact%>">
        </div>
        <button>submit</button>
    </form>
</body>
</html>
